
<link rel="stylesheet" href="/css/home.css">

<div class="keywordInfo">
    <div>
        <span class="kwLabel"><br>Keyword: </span><br>{{this.keyword}}<br><br>
        <span class="kwLabel">Additional Text: </span><br>{{this.additionalText}}<br><br>
        <span class="kwLabel">Statutes URL: </span><br><a href="{{this.statutesUrl}}">{{this.statutesUrl}}</a>
    </div>
</div>