
<link rel="stylesheet" href="/css/home.css">

<div class="keywordInfo">
    <span class="kwLabel">Keyword: </span>{{this.keyword}}<br>
    <span class="kwLabel">Additional Text: </span>{{this.additionalText}}<br>
    <span class="kwLabel">Statutes URL: </span><a href="{{this.statutesUrl}}">{{this.statutesUrl}}</a>
</div>