<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real Estate Admin Rules</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/law-icon.png">
</head>

  <body>
      <header class="">
        <h3>
          <a href="/">
            <img src="/img/law-icon.png"></img><span>Real Estate Admin Rules</span>
          </a>
        </h3>
        <nav>
          <!-- Conditionally render login or logout links -->
          <a href="/keywords">Keywords</a>
          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        <!-- Render the sub layout -->
        {{{ body }}}
      </main>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
    <script src="/js/login.js"></script>
    <script src="/js/keywords.js"></script>

</html>