<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
<link rel="stylesheet" href="/css/home.css">

<main class="main">
  <section class="welcome-sec">
    <div class="welcome-box">
    <h1 class="animate__animated animate__jackInTheBox">Administrative Rules</h1>
    <p>Find Laws With Any Keyword</p>
    {{> keyword-dropdown}}
    </div>
  </section>

{{#if logged_in}}
{{> addKeyword}}

{{else}}
  <section class="keyword-sec">
    <div>
      <h2>
        Add Your Own Keywords
      </h2>
      <div class="key-buttons">
      <a href="login"><button class="button">Log-in</button></a>
      <a href="register"><button class="button">Create Account</button></a>
      </div>
    </div>
  </section>

{{/if}}


</main>