{{#each keywords as |keyword|}}
<br>{{>keyword-layout}}<br>
{{/each}}



  <main class="main">
    <form class="login-section" id="login-form">
      <h1>Add Keyword</h1>
      <div class="field">
        <label class="label">Keyword</label>
        <div class="control">
          <input class="input" type="text" placeholder="e.g. Dishonest dealings" id="keyword-name">
        </div>
      </div>
      <div class="field">
        <label class="label">Additional Text</label>
        <div class="control">
          <input class="input" type="text" id="additional-text">
        </div>
      <div class="field">
        <label class="label">Statutes URL</label>
        <div class="control">
          <input class="input" type="text" id="statutes-url">
        </div>  
      </div>
      <a href="home"><button id="login-btn">Submit</button></a>
      <div class="create-forgot">
        <a href="/register">New? Create an Account</a>
      </div>

    </form>
  </main>


  <script src="./js/keywords.js"></script>
