<link rel="stylesheet" href="/css/keywords.css">

<section class="keywordHolder">
  {{#each (sortedKeywords keywords) as |keyword|}}
  <br>{{>keyword-layout}}<br>
  {{/each}}
</section>

{{#if logged_in}}
{{> addKeyword}}

{{else}}
  <section class="keyword-sec">
    <div>
      <h2>
        Add Your Own Keywords
      </h2>
      <div class="key-buttons">
      <a href="login"><button class="button">Log-in</button></a>
      <a href="register"><button class="button">Create Account</button></a>
      </div>
    </div>
  </section>

{{/if}}