{{#each keywords as |keyword|}}
<br>
<div>
    Keyword: {{keyword.keyword}}<br>
    Additional Text: {{keyword.additionalText}}<br>
    Statutes URL: <a href="{{keyword.statutesUrl}}">{{keyword.statutesUrl}}</a>
</div>

{{/each}}