<link rel="stylesheet" href="/css/laws.css">

<section class="results-container">
  <h1>Laws</h1>
  <div class="results">

    <div class="laws">
      <h2>heres a law</h2>
      <p>heres the text which explains law</p>
    </div>

    <div class="laws">
      <h2>heres a law</h2>
      <p>heres the text which explains law</p>
    </div>

    <div class="laws">
      <h2>heres a law</h2>
      <p>heres the text which explains law</p>
    </div>


  </div>
  {{> keyword-dropdown}}
</section>