<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">


</head>

<body>




  <main class="main">
    <form class="login-section" id="login-form">
      <h1>Log-in</h1>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password">
        </div>
      </div>
      <button id="login-btn">
        Login
      </button>
      <div class="create-forgot">
        <a href="/register">New? Create an Account</a>
      </div>

    </form>
  </main>


  <script src="./js/login.js"></script>


</body>

</html>