<link rel="stylesheet" href="/css/login.css">

<section class="main">
    <form class="login-section" id="login-form">
      <h1>Log-in</h1>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com" id="email-login">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" id="password-login">
        </div>
      </div>
      <button id="login-btn">Login</button>
      <div class="create-forgot">
        <a href="/register">New? Create an Account</a>
      </div>

    </form>
</section>

  <script src="./js/login.js"></script>