<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/profile.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <main class="main">
    <section class="welcome-sec" id="wel-sec-profile">
      <div class="welcome-box" id="wel-box-profile">
        <h1>Administrative Rules</h1>
        <p>Find Laws With Any Keyword</p>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
              <span>Use The Dropdown</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              {{#each keywords as |keyword|}}
              <a href="#" class="dropdown-item">
                {{keyword.keyword}}
              </a>
              {{/each}}
              <hr class="dropdown-divider">
              <a href="laws" class="dropdown-item">
                More
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>



    <div class="field-container">
      <div class='forms'>
        <div class="section-title">
          <h2>Create Your Own Keywords</h2>
          <p>Add your own keywords to search for citations, statutes, and laws.</p>
        </div>

        <div class="field">
          <label class="label">Label</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help">This is a help text</p>
        </div>

        <div class="field">
          <label class="label">Label</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help">This is a help text</p>
        </div>

        <div class="field">
          <label class="label">Label</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help">This is a help text</p>
        </div>

        <div class="field">
          <label class="label">Label</label>
          <div class="control">
            <input class="input" type="text" placeholder="Text input">
          </div>
          <p class="help">This is a help text</p>
        </div>

        <button>Add Keyword</button>

      </div>


    </div>
  </main>

</body>


</html>