<link rel="stylesheet" href="/css/login.css">

<main class="main">
  <section class="login-section">
    <form class="form signup-form">
      <h1>Register</h1>
      <div class="field">
        <label class="label" for="email-signup">Email:</label>
        <input class="input" type="text" id="email-signup" />
      </div>
      <div class="field">
        <label class="label" for="password-signup">Password:</label>
        <input class="input" type="password" id="password-signup" />
      </div>
      <div class="field">
        <button class="submit-btn" type="submit">Register</button>
      </div>
    </form>

  </section>
</main>


<script src="./js/register.js"></script>