body {
  overflow-y: hidden;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.welcome-sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1469248620856-e8c981d98aff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed ;
  background-repeat: no-repeat;
  height: 550px;
  /* width: 100%; */
}
.welcome-box {
  /* border: solid 2px black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 600px;
  background-color: rgb(248, 248, 248);
}

.button {
  border: none !important;
  width: 300px;
  margin-top: 20px;
  background-color: rgb(167, 167, 193) !important;
}
.dropdown-menu {
  width: 300px;
}

h1 {
  font-size: 40px !important;
}

h2 {
  font-size: 32px !important;
}

.keyword-sec {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  /* padding-top: 120px; */
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.key-buttons {
  display: flex;
  gap:50px;

  
}


footer p{
color: black;
}