body {
  overflow-y: hidden;
}

form {
  margin-left: 50%;
  transform: translateX(-50%);
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.welcome-sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/photo-1469248620856-e8c981d98aff.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed ;
  background-repeat: no-repeat;
  height: 500px;
}
.welcome-box {
  /* border: solid 2px black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background-color: rgb(248, 248, 248, 0.7);
  @media screen and (max-width: 600px) {
    width: 100%;
  }    
}

.button {
  border: none !important;
  width: 300px;
  margin-top: 20px;
  background-color: rgb(167, 167, 193) !important;
}
.dropdown-menu {
  width: 300px;
}

h1 {
  font-size: 35px !important;
  /* margin-top: -100px; */
}

h2 {
  font-size: 32px !important;
}

/* logged in kw form */
#new-keyword-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* background-color: red; */
  width: 70vw !important;
  border-radius: 5px;
  border: solid 2px rgb(181, 181, 181);
}


@media screen and (max-width: 800px) {
  #new-keyword-form {
    /* background-color: green; */
    width: 90vw!important;
  }
}

.field {
  width: 50vw;

}
