.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    justify-content: center !important;
    /* background-color: red; */
  }
}


#login-form {
  border: solid 3px rgb(176, 176, 176) ;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  #login-form {
    border: none !important;
  }
}


h1 {
  text-align: center;
  font-size: 35px !important;
  margin-bottom: 10px;
}

.create-forgot {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  gap: 10px;
}
