/* Variables */
:root {
  --nav-color: #333;
  --link-hover-color: lightblue;
  --nav-text-color: #1a89bc;
  --main-background-color: #f4f4f4;
  --nav-text-color: #fff;
}

body {
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--nav-color);
  user-select: none;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  max-width: 1200px;
}

nav a {
  margin-left: 3%;
  font-size: 1.3rem;
}

header h3 a img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

header h3 a, header nav a {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  color: var(--nav-text-color);
  &:hover {
    text-decoration: none;
    color: var(--link-hover-color);
  }

}

/* Main */
main {
  background-color: var(--main-background-color);
  height: 95vh;
  width: 100vw;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}