/* Variables */
:root {
  --dark-color: #333;
  --link-hover-color: lightblue;
  --nav-text-color: #1a89bc;
  --main-background-color: #fff;
  --nav-text-color: #fff;
}

body {
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-color);
  user-select: none;
  text-decoration: none;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  @media screen and (max-width: 650px) {
    height: 100px;
    flex-direction: column;
    align-items: end;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  @media screen and (max-width: 1000px) {
    justify-content: flex-end;
  }
  
}

nav a {
  margin-left: 3%;
  font-size: 1.3rem;
  @media screen and (max-width: 1000px) {
    margin-right: 20%;
  }
}

header h3 a img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

header h3 a, header nav a {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 1.8rem;
  color: var(--nav-text-color);
  text-decoration: none;
  &:hover {
    color: var(--link-hover-color);
  }

}

/* Main */
main {
  background-color: var(--main-background-color);
  width: 100vw;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  height: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid 5px black;
  padding: 100px;
}

.keywordHolder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.keywordInfo {
  font: 1.2rem 'Roboto', sans-serif;
  color: lightgrey;
  width: 31%;
  height: 25vh;
  min-height: 350px;
  min-width: 425px;
  margin: 1%;
  border-radius: 10px;
  border: 1px solid black;
  background: var(--dark-color);
  box-shadow: 0 0 15px grey;

  & div {
    margin-left: 10px;
  }
  & a:hover {
    color: lightblue;
  }
}


.kwLabel {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

.submit-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background-color: rgb(211, 214, 229);
  cursor: pointer;
  font-size: 1.2rem;
  &:hover {
    background-color: grey;
    color: white;
  }
  &:active {
    background-color: black;
    color: white;
  }
}

.keyword-sec {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  /* padding-top: 120px; */
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.key-buttons {
  display: flex;
  gap:50px;
  @media screen and (max-width: 650px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap:0;
  }
  
}

.keywordDropdown {
  height: 350px;
  overflow-y: scroll;
}