/* Variables */
:root {
  --nav-color: #333;
  --link-hover-color: lightblue;
  --nav-text-color: #1a89bc;
  --main-background-color: #f4f4f4;
}

body {
  overflow-x: hidden;
}

/* Nav */
header {
  background-color: var(--nav-color);
  padding: 1rem;
  text-align: center;
  user-select: none;
  text-decoration: none;
  color: var(--nav-text-color);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 80px;
  max-width: 1200px;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
  font-size: 1.3rem;
  padding-right: 10px;
}

header h3 a, header nav a {
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: var(--link-hover-color);
  }

}

/* Main */
main {
  background-color: var(--main-background-color);
  height: 95vh;
  width: 100vw;
  margin: 0 auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

footer {
  height: 100px;
  align-items: center;
  list-style-type: none;
  display: flex;
  background-color: #333;
  gap: 100px;
}